<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="mt-40">
    <mat-nav-list>
      <a mat-list-item routerLink="/glossario" routerLinkActive="active">Termos</a>
      <a mat-list-item routerLink="/guia" routerLinkActive="active">Guia</a>
      <a mat-list-item routerLink="/agradecimentos" routerLinkActive="active">Agradecimentos</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="font-medium text-lg">Glossário Interativo</span>
    </mat-toolbar>
    <router-outlet></router-outlet> <!-- Rotas renderizadas aqui -->
  </mat-sidenav-content>
</mat-sidenav-container>
