<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    mode="side"
    class="sidenav"
    [opened]="true"
  >
    <mat-nav-list
      class="mat-nav-list"
    >
      <h1 class="mt-5">Glossário</h1>
      <div class="mt-5">
        <a mat-list-item routerLink="/inicio" routerLinkActive="active">
          <span class="menu-text">Início</span>
        </a>
        <a mat-list-item routerLink="/glossario" routerLinkActive="active">
          <span class="menu-text">Glossário</span>
        </a>
        <a mat-list-item routerLink="/guia" routerLinkActive="active">
          <span class="menu-text">Guia de uso</span>
        </a>
        <a mat-list-item routerLink="/agradecimentos" routerLinkActive="active">
          <span class="menu-text">Agradecimentos</span>
        </a>
        <a mat-list-item routerLink="/creditos" routerLinkActive="active">
          <span class="menu-text">Créditos</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="mat-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
