<div class="page">
  <div>
    <h1 class="page-title">{{ item.title }}</h1>
  </div>
  <div class="line">
  </div>
  <div>
    <p class="text-xl font-semibold">
      Conceito:
    </p>
    <p class="text-2xl">
       {{item.description  }}
    </p>
  </div>
  <div class="line">
  </div>
  <div>
    <p class="text-xl font-semibold">
      Aplicabilidade:
    </p>
    <p class="text-2xl">
      {{item.applicability  }}
    </p>
  </div>
  <div class="line">
  </div>
  <div>
    <p class="text-xl font-semibold">
      Referência:
    </p>
    <p class="text-2xl">
      {{item.reference  }}
    </p>
  </div>
</div>
