<div class="page">
  <div>
    <h1 class="page-title">Guia de uso</h1>
  </div>
  <div class="line">
  </div>
  <div>
    <p class="text-xl font-semibold">
      Finalidade:
    </p>
    <p class="text-2xl">
      Este projeto tem como objetivo facilitar o aprendizado para conceitos apresentados em Administração financeira.
    </p>
  </div>
  <div class="line">
  </div>
  <div class="flex gap-2 flex-col">
    <p class="text-xl font-semibold">
      Como utilizar:
    </p>
    <p class="text-2xl">
      1. Você pode navegar pelas telas atráves do menu lateral.
    </p>
    <p class="text-2xl">
      2. No menu glossário você pode encontrar os conceitos!
    </p>
    <p class="text-2xl">
      3. Ao clicar em um conceito você será redirecionado para os
      detalhes sobre o termo!
    </p>
  </div>
</div>
